.profile_startPost{
    /* border: 2px solid blue; */
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* margin: 0.5rem; */
}
.profile{
    border: 1px solid orange;
    width: 25%;
    height: 15rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2px;
    
}
.createPost{
    border-radius: 2px;
    border: 1px solid orange;
    height: 15rem;
    width: 50%;
    
    margin: rem;
}
.blog_section{
    border: 1px solid orange;
    border-radius: 2px;
    width: 25%;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: whitesmoke;
    font-size: 10px;
    margin: 1rem;
}
#blog_section_photo{
    /* border: 2px solid white; */
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
}
#blog_section_blog{
    /* border: 2px solid white; */
    /* background-color: red; */
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#blog_section_article{
    /* border: 2px solid white; */
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 34%;
    align-items: center;
}
.photo_photo_photo:hover{
    background-color: transparent;
    color: red;
}
.photo_photo_blog:hover{
    background-color: transparent;
    color: blue;
}
.photo_photo_article:hover{
    background-color: transparent;
    color: orange;
}
.main_post_container{
    border: 2px solid orange;
    margin: 0 1rem;
    margin-bottom: 2rem;
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background: transparent;
    place-items: center;
}